body{
    background-color: RGB(233,232,212);
}
.titulo__capacitaciones{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
   

    .h1__capacitaciones{
        display: none;
        position: relative;
        color: #67726c;
        align-content: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        height: 70px;  
        font-family: "Bruno Ace SC", cursive;
        font-size: 1.5rem;
        }
        .h2__capacitaciones{
            font-family: "Bruno Ace SC", cursive;
            font-size: 1.25rem;
            color: #67726c;
            text-align: center;
            position: relative;

            #p__capacitaciones{
                text-align: center;
                font-family: "Bruno Ace SC", cursive;
                font-size: 1rem;
                color: #67726c;
                
                
            }
        }
    }



.card__container{

    display: flex;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

   
        .card{
        margin: 10px;
        background: linear-gradient(rgb(118, 114, 114),
        rgb(202, 164, 93));
        }
        .card-body{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .card-title{
                font-family: 'Roboto', sans-serif;
                text-align: center;
                color: #efecbe;
                }
                .card-text{
                    color: #efecbe;
                }
            .btn {
                color: white;
                background: rgb(70, 74, 11);
                            }
            .card-text{
                text-align: center;
            }
        }
 
    }



@media  screen and (max-width:992px){

    .titulo__capacitaciones{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position:relative;
        
        .h1__capacitaciones{
            display: flex;
        }
        .h2__capacitaciones{  
            display:none;
            position: relative;
            text-align: center;
        }      
        #p__capacitaciones{
            display: none;
            text-align: center;
            position: relative;
                   }
    }

    .footer__capacitaciones{
        display: none;
    }
}
@media  screen and (min-width:991px){
    
    .titulo__capacitaciones{
        top: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
        .h1__capacitaciones{
            display: flex;
        }
        .h2__capacitaciones{
            font-family: "Bruno Ace SC", cursive;
            font-size: 1.25rem;
            color: #67726c;
            text-align: center;
            top: -25px;
            position: relative;
        }      
        #p__capacitaciones{
            top: -25px;
            display: flex;
            font-family: "Bruno Ace SC", cursive;
            color: #67726c;
            text-align: center;
            position: relative;
           
        }
    }
    .card__container{
        margin-top: 0px;
    }  
}
