@keyframes planta{
    0%{ transform: translate(-10px);}
    12%{ transform: translate(-30px);} 
    25%{transform: translate(-55px);}
    50%{transform: translate(-75px);}
    60%{ transform: translate(-55px);}
    75%{transform: translate(-30px);}
    100%{transform: translate(-10px);}

}

.index__section__container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px repeat(4, 1fr);
    height: 100vh;
    background-image:url(../img/img-index/DX3W7SWYKND43OY5GUJYOSAZQE.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    

    .index-img__container{
        display: grid;
        grid-template-rows:150px repeat(5, 1fr);
        grid-template-columns: repeat(12, 1fr);
        grid-row: 1 / 7;
        grid-column: 1 / 13;
        justify-content: center;
        align-items: center;


        .img-index{
            display: flex;
            grid-column: 1 / 13;
            grid-row: 1 / 8;
            justify-content: center;
            align-items: center; 
            width: 300px;    
            transition:transform 5s; 
            animation-name: planta;
            animation-iteration-count: infinite;
            animation-duration: 10s;

            }


            // .img-index:hover{
            //     transform: rotate(15deg);

    
            // }
    }    
}