@keyframes logo {
    0% {
        transform: translate(25px);
    }

    100% {
        transform: translate(200px);
    }

}

.index__section__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px repeat(3, 1fr);
    height: 85vh;
    background-image: url(../img/img-index/DX3W7SWYKND43OY5GUJYOSAZQE.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;


    .index-img__container {
        display: grid;
        position: relative;
        grid-template-rows: 150px repeat(5, 1fr);
        grid-template-columns: repeat(12, 1fr);
        grid-row: 1 / 7;
        grid-column: 1 / 13;
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
        top: 300px;


        .img-index {
            display: flex;
            position: relative;
            bottom: -50px;
            width: 150px;
            transition: transform 5s;
            animation-name: logo;
            animation-iteration-count: infinite;
            animation-duration: 30s;

        }
    }
}
@media screen and (min-width:500px){

    .img-index{
        width: 500px;
        display: none;
    }

}
