$body-bg-color:rgb(255, 255, 255);
$font-family: font-family'Audiowide';
$linear-gradient: linear-gradient(163deg, rgba(255,255,234,1) 0%, rgba(218,216,197,1) 32%, rgba(223,221,203,1) 69%, rgba(222,214,187,1) 100%);